<!DOCTYPE html>
<script>    $(document).ready(function(){
                  $('.chart').remove();
                  //gr(); 
                  console.log('ready');  
       $( window ).unload(function() {
          $('.chart').remove();
});
                      });
</script>
<div data-role="layout" data-id="level3SOH-layout">        
        <div data-role="header">
            <div data-role="navbar" class="blueBackground">               
                <a data-click="Programs.back" data-role="button" data-align="left" class="button_Background">Back</a>
                <span data-role="view-title"></span>                
            </div>
        </div>
        <div data-role="footer">
            <div data-role="tabstrip" id="custom-tabstrip" class="gray_background" >                
            <a id="MOS" href="views/ChartByMOS.html" data-icon="contacts"> MOS </a>
            <a  href="views/ChartBySOH.html" data-icon="history"> SOH
            </a><a  href="views/ChartByAMC.html" data-icon="favorites"> AMC
            </a><a  href="views/Info.html" data-icon="about">Info</a>
        </div>
         </div>
    </div>
<div data-role="view" data-title="Chart by SOH" data-reload="true" data-layout="level3SOH-layout">
    <div class="header" id="header_desc">
         
<style>



.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


</style>
<svg class="chart"></svg>
<script>
  //1st define the drawing canvas size, The height can be defined by as but the width will depend on the number of data set items
  // we have so we only define the single bar thickness here and multiply it with the number of datasets later on to get the
  // total width
  $(window).resize(function() {
      console.log('resized');
      $('g').remove();
      gr();
});
var gr = function()
{
var margin = {top: 40, right: 10, bottom: 30, left: 30},
    width = $(document).width() - margin.left - margin.right,
    height = ($(document).height()-120) - margin.top - margin.bottom;

  var formatNumber = d3.format(".2s");
  var x = d3.scale.ordinal()
          .rangeRoundBands([0,width],.1);

  var y = d3.scale.linear()
          .range([height, 0]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(function(d){return formatNumber(d);});


var chart =  d3.select('.chart')
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//3rd lets get the data from our API
// we use the d3.JSON to access our api

  var data =  d3.json(localStorage.getItem("urlSOH"), function(err, data) {
      y.domain([0,d3.max(data.Data,function(d){return d.SOH;})]);
      x.domain(data.Data.map(function(d){ return d.EnvironmentCode; }));

    chart.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

    chart.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("SOH");



      var bar = chart.selectAll(".bar")    //ghost selection
                .data(data.Data)     // we are binding an array of data to it
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d.EnvironmentCode); })
                .attr("y", function(d) { return y(d.SOH); })
                .attr("height", function(d) { return height - y(d.SOH); })
                .attr("width", x.rangeBand());



        bar.append("text")
        .attr("y", function(d) { return ( y(d.SOH) + 3); })
        .attr("x", x.rangeBand() / 2)
        .attr("dy", ".35em")
        .text(function(d) { return d.SOH; });

      });
};
gr();
</script>
 </div>
</div>