<div data-role="view" data-title="Info"  data-reload="true" data-layout="Info-layout">
    <div class="header" id="header_desc">
    </div>
      
    <div class="panel_container">
     <span style="color:#4DB3D6;">  <b> Blue:</b>  Excess -  Stock on hand is above Max </span>  </br>
      <span style="color:#49A145;">  <b>  Green : Normal - Stock on hand is between Min and Max</span> </br>
     <span style="color:#E78A1F;">  <b>   Orange: BelowMin - Stock on hand is below Min and above 0 </span></br>
       <span style="color:#CE3C3E;">  <b> Red : StockedOut - Stock on hand is 0 </span>

    </div>
    <div class="panel_container">
      <span class="medium_text" >  <b>  Min:</b> Minimum stock that the Hub should have - 2 months of stock </span></br></br>
      <span class="medium_text">  <b>  Max:</b> Maximum stock that the Hub should have - 4 months of stock </span></br></br>
      <span class="medium_text">  <b>  AMC:</b> Average Monthly Consumption =  ([TotalIssue]/([FiscalYeardays-DOS])) * 30 </span></br></br>
      <span class="medium_text">  <b>  SOH:</b> Stock on Hand </span></br></br>
      <span class="medium_text">  <b>  MOS = SOH/AMC</b></span> 


    </div>
</div>