

<div data-role="view" data-title="Info" data-show="info.show" data-hide="info.hide" data-reload="true" data-layout="Info-layout">
 
    
    <ul id="theul" data-role="listview" data-source="info.data" data-pull-to-refresh="true" data-template="info-template">
    </ul>
    
   
   <script type="text/x-kendo-template" id="info-template">
          
       <div class="row1">
                
                <div class="col1">
                   
                </div>
                 <div class="medium_text" >    #: Name #</div> 
                 <div class="medium_text" >   #: Description #</div>            
          
       </div>
         
    </script>
    
     

    
</div>


   
