<div data-role="view" data-title="Institution Type" data-show="IssueDetailInstitutionType.show" data-hide="IssueDetailInstitutionType.hide" data-reload="true" data-layout="back-layout">
   <div class="header header_desc" id="header_desc_IssueDetailInstitutionType">
       
    </div>
    
    <ul id="theul" data-role="listview" data-source="IssueDetailInstitutionType.data" data-pull-to-refresh="true" data-template="IssueDetailInstitutionType-template">
       
    </ul>
    
   
     <script type="text/x-kendo-template" id="IssueDetailInstitutionType-template">
                 
                
            <div class="row1">
            <div class="col1">
                 <div class="medium_text" > #: InstitutionType  # </div>
            </div>
           <div class="medium_text">  #: getRelativeDateFromNow( MostRecentTransactionDate) #  </div>
           <div class="medium_text">Requested: #: accounting.formatNumber(QuantityRequested) #</div>
           <div class="medium_text"> Issued: #: accounting.formatNumber(QuantityIssued) # </div>
           <div class="medium_text">FillRate: #: accounting.formatNumber(FillRate,0,",") #%</div>
          

            </div>
         
    </script>
    
     

    
</div>