

<div data-role="view" data-title="Issue Detail" data-show="IssueDetail.show" data-hide="IssueDetail.hide" data-reload="true" data-layout="back-layout">
   <div class="header header_desc" id="header_desc_IssueDetail">
       
    </div>
    
    <ul id="theul" data-role="listview" data-source="IssueDetail.data" data-pull-to-refresh="true" data-template="IssueDetail-template">
       
    </ul>
    
   
     <script type="text/x-kendo-template" id="IssueDetail-template">
                 
                
            <div class="row1">
            <div class="col1">
                 <div >  #: getRelativeDateFromNow( TransactionDate) # -  #: Institution # </div>
            </div>
                   
           <div>Requested: #: accounting.formatNumber(QuantityRequested) #</div>
           <div> Issued: #: accounting.formatNumber(QuantityIssued) # </div>
           <div>FillRate: #: accounting.formatNumber(FillRate,0,",") #%</div>
          

            </div>
         
    </script>
    
     

    
</div>


   
