

<div data-role="view" data-title="General" data-show="ItemGeneral.show" data-hide="ItemGeneral.hide" data-reload="true" data-layout="back-layout">
   <div class="header" id="header_desc_ItemGeneral">
       
    </div>
    
    <ul id="theul" data-role="listview" data-source="ItemGeneral.data" data-pull-to-refresh="true" data-template="ItemGeneral-template">
       
    </ul>
    
   
     <script type="text/x-kendo-template" id="ItemGeneral-template">
       
          
               
                <div class="col1">
                   <li> <div class="col1"> SOH: #: SOH # </div></li> 
                    <li> <div class="col1"> Stock Status: #: StockStatus # </div>
                    <li> <div class="col1"> Min: #: Min # </div></li> 
                    <li> <div class="col1"> Max: #: Max # </div> </li> 
                    <li> <div class="col1"> MOS: #: Mos # </div></li> 
                    <li> <div class="col1"> Under Order: #: UnderOrder # </div></li> 
                    <li> <div class="col1"> GIT: #: Git # </div></li> 
                    <li> <div class="col1"> Days Oout of Stock: #: DaysOutOfStock # </div></li> 
                   <li>  <div class="col1"> Pending Demand: (requested): #: Requested # </div></li> 
                   <li>  <div class="col1"> YTD Issued Amount: #: YTDIssuedAmount # </div></li> 
                    <li> <div class="col1">  YTD Issued Qty: #: YTDIssuedQty # </div> </li> 
                   <li>  <div class="col1"> YTD Received Amount: #: YTDIssuedAmount # </div></li> 
                   <li>  <div class="col1">  YTD Received Qty: #: YTDReceivedQty # </div></li> 
                    <li> <div class="col1"> Client Fill Rate: #: ClientFillRate # </div></li> 
                   <li>  <div class="col1"> Supplier Fill Rate: #: SupplierFillRate # </div></li> 
                </div>
           
          
        
    </script>
    
     

    
</div>


   
