



<!-- color choice guidelines -->
<!--- Exess: Orange  #E78A1F -->
<!-- Normal: green #49A145 -->
<!-- Below min : blue  #4DB3D6   --> 
<!-- Stocked out: Red  #CE3C3E -->

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }


#header_desc{
    text-align:center;
    font-weight:400;
    padding-top:8px;
    padding-bottom:8px;
}

.header_desc{
    text-align:center;
    font-weight:400;
    padding-top:8px;
    padding-bottom:8px;
}
      
      
      
<!-- progress bar  css -->




 .progress {
  background-color: #f9f9f9;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.1);
  box-sizing: initial;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  height: 12px;
  line-height: 1.182;
  margin: 6px 0;
  position: relative;
  text-align: center;
  width: 100%;        
  
}
#progressbarcontainer{
    height:7px;
    background-color:grey;
    width:100%;
    margin-right:3px;
}

#progressbarcontainer2{
    height:7px;
    background-color:transparent;
    width:100%;
    margin-right:3px;
}
.progress-small {
  font-size: 9px;
  font-size: 0.5625rem;
  height: 6px;
  line-height: 0.875;
}

.progress-large {
  font-size: 16px;
  font-size: 1rem;
  height: 25px;
  line-height: 1.7;
}

.progress > span {
  background-color: #2bc253;
  display: block;
  height: 100%;
  width: 0px;
  position: relative;
  overflow: hidden;
 
}
.progress.progress-stacked > span {
  display: inline-block;
  float: left;
}

<!-- color choice guidelines -->
<!--- Exess: Orange  #E78A1F -->
<!-- Normal: green #49A145 -->
<!-- Below min : blue  #4DB3D6   --> 
<!-- Stocked out: Red  #CE3C3E -->

/*
#Excess
{
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width:40%;
}

 #Normal
      {
          width:0%;
      }
 #BelowMin
      {
          width:10%;
      }
#StockedOut
{
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width:25%;
}
*/


.stockedout-bg-red{
   border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width:25%;
  background-color:#CE3C3E!important;
  font-size:3px;
}
.belowmin-bg-blue{
     width:10%; 
  background-color:#4DB3D6!important;
  font-size:3px;
}
.excess-bg-orange
{ 
    border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width:40%;
  background-color:#E78A1F!important;
  font-size:3px;
}
.normal-bg-green
{
    width:0%;
  background-color:#49A145!important;
      font-size:3px;
}
      
  /*red--CE3C3E
blue--4DB3D6
orange--E78A1F
green 49A145--
*/

.row1{
    width:100%;
    padding-bottom:2px;
    
}

.row2
      {
         width:100; 
      }
.col1{
    width: 100%;
    float:left;
    padding-right:3%;
}

.col2{
    width: 33.33%;
    float:right;
    vertical-align:bottom;
}
.smaller_text,.col2{    

    font-size:9px;
}

.medium_text{    

    font-size:12px;
    color:#888;
}

.large_text{    

    font-size:16px;
}


#min-max::before{
    content: "efg";
      position: absolute;      
      top: =10px;
      left: 1;  
    
      transform: translateX(-50%);
      border-top: 5px solid #525961;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;   
  
}
.right {
    position:relative;
    float:right; 
    padding-right:25px;
}

/*
.min-max::after{
       content: "abc";
      position: absolute;
      right: 58%; 
      top: 30%;     
      color: #fff;
      font-size: 13px;
      font-weight: 50;
      background-color: orange;      
      border-top: 5px solid #525961;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
   
}*/


.blueBackground{
    background-color: #87D2EE;
     box-shadow: inset 0 0 100px #87D2EE;
/*     box-shadow: inset 0 0 30px #87D2EE; */
   /*-webkit-box-shadow: inset 0 0 30px #87D2EE;*/
}
.button_Background{
    background-color: #FFAA2A;;
    box-shadow: inset 0 0 100px #FFAA2A;
    /*box-shadow: inset 0 0 30px #FB9200;*/
/*    -webkit-box-shadow: inset 0 0 30px #FB9200;; */
}

.Lightgray_background
{
     background-color: #F4F4F4;;
    box-shadow: inset 0 0 100px #F4F4F4;   
}

.empSOH
{
    float:right;
    padding-right:8%;
    text-align:right;display:inline;
}

.panel_container
            {
                margin: 3%;
                <!-- text-align: center -->;
                background-color:#E5E5E5;
                padding:5%;
                border-radius:10px;
                
            }



   
