



<!-- color choice guidelines -->
<!--- Exess: Orange  #E78A1F -->
<!-- Normal: green #49A145 -->
<!-- Below min : blue  #4DB3D6   --> 
<!-- Stocked out: Red  #CE3C3E -->

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

 #progressbarSOH{
     text-align: center;
  margin-top: 0;  
  text-align: center;
    background:rgba(255,255,255,0.5);
  color: ghostwhite;
  display:block;
}

 #progressbaritemlist{
     text-align: center;
  margin-top: 0;  
  text-align: center;
    background:rgba(255,255,255,0.5);
  color: ghostwhite;
  display:block;
}

#progressbar
{      
  text-align: center;
  margin-top: 0;  
  text-align: center;
    background:rgba(255,255,255,0.5);
  color: ghostwhite;
  display:block;
}

#splashimage{
  
}

#header_desc{
    text-align:center;
    font-weight:400;
    padding-top:8px;
    padding-bottom:8px;
}

.header_desc{
    text-align:center;
    font-weight:400;
    padding-top:8px;
    padding-bottom:8px;
}
.Blue{
    color:#4DB3D6;
}
.Green{
     color:#49A145;
}
.Orange{
     color:#E78A1F;
}
.Red{
     color:#CE3C3E;
}
      
      
      
<!-- progress bar  css -->




 .progress {
  background-color: #f9f9f9;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.1);
  box-sizing: initial;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  height: 12px;
  line-height: 1.182;
  margin: 6px 0;
  position: relative;
  text-align: center;
  width: 100%;        
  
}
#progressbarcontainer{
    height:7px;
    background-color:grey;
    width:100%;
    margin-right:3px;
}

#progressbarcontainer2{
    height:7px;
    background-color:transparent;
    width:100%;
    margin-right:3px;
}
.progress-small {
  font-size: 9px;
  font-size: 0.5625rem;
  height: 6px;
  line-height: 0.875;
}

.progress-large {
  font-size: 16px;
  font-size: 1rem;
  height: 25px;
  line-height: 1.7;
}

.progress > span {
  background-color: #2bc253;
  display: block;
  height: 100%;
  width: 0px;
  position: relative;
  overflow: hidden;
 
}
.progress.progress-stacked > span {
  display: inline-block;
  float: left;
}

<!-- color choice guidelines -->
<!--- Exess: Orange  #E78A1F -->
<!-- Normal: green #49A145 -->
<!-- Below min : blue  #4DB3D6   --> 
<!-- Stocked out: Red  #CE3C3E -->

/*
#Excess
{
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width:40%;
}

 #Normal
      {
          width:0%;
      }
 #BelowMin
      {
          width:10%;
      }
#StockedOut
{
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width:25%;
}
*/


.stockedout-bg-red{
   border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width:25%;
  background-color:#CE3C3E!important;
  font-size:3px;
}
.belowmin-bg-blue{
     width:10%; 
  background-color:#4DB3D6!important;
  font-size:3px;
}
.excess-bg-orange
{ 
    border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width:40%;
  background-color:#E78A1F!important;
  font-size:3px;
}
.normal-bg-green
{
    width:0%;
  background-color:#49A145!important;
      font-size:3px;
}
      
  /*red--CE3C3E
blue--4DB3D6
orange--E78A1F
green 49A145--
*/

.row1{
    width:100%;
    padding-bottom:2px;
    
}
.program-rows{
    width:73%;
    padding-bottom:2px;
    display:inline-block;
    margin-left:10px;
    
}

.row2
      {
         width:100; 
      }
.col1{
    width: 100%;
    float:left;
    padding-right:3%;
}

.col2{
    width: 33.33%;
    float:right;
    vertical-align:bottom;
}
.smaller_text,.col2{    

    font-size:9px;
    color:#888;
}

.medium_text{    

    font-size:12px;
    color:#888;
}
.medium_text_nocolor{    

    font-size:12px;
}

.large_text{    

    font-size:16px;
}


#min-max::before{
    content: "efg";
      position: absolute;      
      top: =10px;
      left: 1;  
    
      transform: translateX(-50%);
      border-top: 5px solid #525961;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;   
  
}
.right {
    position:relative;
    float:right; 
    padding-right:25px;
}

/*
.min-max::after{
       content: "abc";
      position: absolute;
      right: 58%; 
      top: 30%;     
      color: #fff;
      font-size: 13px;
      font-weight: 50;
      background-color: orange;      
      border-top: 5px solid #525961;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
   
}*/


.blueBackground{
    background-color:steelblue;
     box-shadow: inset 0 0 100px steelblue;
     color:white;
/*     box-shadow: inset 0 0 30px #87D2EE; */
   /*-webkit-box-shadow: inset 0 0 30px #87D2EE;*/
}
.button_Background{
    background-color: aliceblue;
    box-shadow: inset 0 0 100px aliceblue;
    /*box-shadow: inset 0 0 30px #FB9200;*/
/*    -webkit-box-shadow: inset 0 0 30px #FB9200;; */
}

.Lightgray_background
{
     background-color: #F4F4F4;;
    box-shadow: inset 0 0 100px #F4F4F4;   
}

.empSOH
{
    float:right;
    padding-right:8%;
    text-align:right;display:inline;
}

.panel_container
            {
                margin: 3%;
                <!-- text-align: center -->;
                background-color:#E5E5E5;
                padding:5%;
                border-radius:10px;
                
}

.titleBar{
    background-color:slategrey ;
}

.ART{   
  border-radius: 100px;
  background: #59A2BE;
  color: white;
  padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;;
     
}
.FP{
  border-radius: 100px;
  background: #F9A43E;
  color: white;
  padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;;
}
.MAL{
  border-radius: 100px;
  background: #AD62A7;
  color: white;
  padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;
}
.MCH{
  border-radius: 100px;
  background: #F58559;
  color: white;
  padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;
}
.VAC{
   border-radius: 100px;
  background: #E4C62E;
  color: white;
   padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;
}

.ATLP{
  border-radius: 100px;
  background: #67BF74;
  color: white;
  padding: 13px 18px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 18px;
}



.program_text{
 text-align:center; 
 vertical-align: -webkit-baseline-middle;
  padding-top: 25%;
  font-size: 1.875em;       
  color:white;
  display: inline-block;
}
.test_css{
    border-radius: 100px;
  background: ;
  color: white;
  padding: 15px 23px;
  display: inline-block;
  vertical-align: text-bottom;
    font-size: 1.875em;
}

 .Intransit_red{
     background-color: #CE3C3E;
  display: inline;
  color: ghostwhite;
  font-weight: 600;
  padding-right: .4em;
  padding-left: .2em;
  border-radius: .3em;
 }

.Unclassified_program{
    vertical-align: top;
    padding-top: 1.1em;
    width: 73%;
    padding-bottom: 2px;
    display: inline-block;
    margin-left: 10px;
    
}

.CommodityType_NumberOfItems{
border-radius: 100px;
  background: #59A2BE;
  color: white;
  padding: 13px 9px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 12px;
  float: right;
  margin-right: 5%;
}


.CommodityType_Category{
display: inline-block;
  vertical-align: top;
  padding-top: 4%;
  font-weight: 700;
}


<!----- Icons ---->

   .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e204";
    }

 .km-Bar-e:after,
    .km-Bar-e:before
    {
        content: "\e04b";
    }
 .km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

