


.StockedOut:before, .BelowMin:before , .Normal:before , .Excess:before
{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
   border-left: 25px solid transparent;
    color:black;
   
}
.StockedOut, .BelowMin , .Normal ,.Excess {    
    padding:0px;
    position:relative;
}

.Excess:before
{
     content:'pls';
    border-top: 25px solid #E78A1F;
}


.Normal:before
{   content: "N";
    border-top: 25px solid #49A145;
    

}

.BelowMin:before
{   content: "BM";
    border-top: 25px solid #4DB3D6;

}
.StockedOut:before 
{  content: "SO";
    border-top: 25px solid #CE3C3E;
}

.sstatus{
    padding:0px;
    position: absolute;
    top: 0%;
    right: 0%;
    font-size:8px;
    font-weight:200;
    color:white;
}
