.km-ios7 .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-ios7 .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-ios7 .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
.km-ios .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-ios .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-ios .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
.km-android .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-android .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
.km-blackberry .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-blackberry .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-blackberry .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
.km-wp .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-wp .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-wp .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
.km-flat .km-view .km-tabstrip .km-button {
    background-color: rgb(229, 229, 229);
}
.km-flat .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 163, 199);
}
.km-flat .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(153, 153, 153);
}
